.fs-2 {
    margin-top: 35px;
}
.btn-pos {
    margin-top: 12px;
    margin-left: 820px;
}
.classic {
    margin-top: 40px;
}
.card-img-top {
    width: 600px;
}
.card {
    margin-left: 160px;
    width: 600px;
}
.button {
    margin-left: 1220px;
}